html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Raleway', sans-serif;
}

/*Clases utilitarias*/
.container {
  width: 80%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5em;
    margin: 0 0.1em;
    border-radius: 0.5em;
}

.btn-primary {
    color: white;
    background-color: #0F2620;
}

.btn-secondary {
    color: white;
    background-color: #7BA69A;
}

.btn-danger {
    color: white;
    background-color: #A6444C;
}

.btn-light {
    color: black;
    background-color: #DDF2CE;
}

.btn-dark {
  color: white;
  background-color:#302C2D;
}

/*Header*/
.bg-header {
  background-image: url('../assets/img/bg-header-min.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 18.7em;
}

.bg-navbar {
  background-color: rgba(0, 0, 0, 0.63);
  padding: 1.5em 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px){
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font: 2rem;
  text-decoration: none;
  font-weight: 500;
  margin-bottom: 1em;
}

@media (min-width: 768px){
  .navbar-brand {
    flex-direction: row;
    margin-bottom: 0;
  }
}

.navbar-brand img {
  width: 2em;
}

.navbar-nav {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1em;
  border-radius: 0.3em;
}

.nav-link {
  display: inline-block;
  padding: 0.3em;
  text-decoration: white;
  color: white;
}

.nav-link:hover {
  background-color: white;
  color: black;
  border-radius: 0.5em;
}

/* Main */

.main {
  padding: 0.3em;
  background-color: white;
  border-radius: 0.3em;
  margin-top: -2em;
}

.main-title {
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .tienda {
    display: flex;
    gap: 1em;
  }
}

/* CARD */
.card {
    background-color: #A6444C;
    color: white;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.card-img {
    width: 100%;
}

.card-body {
    padding: 1em;
}

.card-body h5 {
    font-size: 1.5rem;
    margin: 1em 0;
    font-weight: 500;
}

.card-body p {
    font-weight: 300;
}

/*Nosotros */

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  background-color: #302C2D;
}

.nosotros-col-img {
  background-image: url('../assets/img/nosotros-min.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 21.875em;
  width: 100%;
  order: 2;
}

@media (min-width: 576px){
  .nosotros-col-img {
    height: 31.25em;
  }
}

.nosotros-col-text {
  order: 1;
}

@media (min-width: 768px){
  .nosotros {
    flex-direction: row;
  }
  .nosotros-col-img {
    order: 1;
    flex: 1 1 0;
  }
  .nosotros-col-text {
    order: 2;
    flex: 1 1 0;
  }
}

.nosotros-body {
  padding: 1em;
  text-align: center;
  color: white;
}

.nosotros-body h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.nosotros-body p {
  font-weight: 200;
}

/* Footer */

.bg-footer {
  background-color: #302C2D;
  color: white;
}

.bg-footer p {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}